@media (max-width: 768px) {
    .faq {
        &__list {
            padding-top: 1vw;
            width: 100%;
        }

        &__item {
            padding-bottom: 3.6vw;
            padding-top: 3.6vw;
        }

        &__question-text {
            padding-right: 2vw;
            font-size: 4.6vw;
            line-height: 1.33;
        }

        &__question::after {
            width: 6vw;
            height: 6vw;
            top: 50%;
            transform: translateY(-50%) rotateZ(45deg) ;
        }

        ._active::after {
            transform:translateY(-50%) rotateZ(90deg) ;
        }
    }
}